.navbar-brand{
    font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 47px;
/* identical to box height */
color: #27AE60;
}
.nav-link{
    font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;
color: #FFFFFF;
margin-right: 15px;
}
.navbar-nav .nav-link.active {
    color: #27AE60;
}
.hero-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    // align-items: center;
}
.hero-content h1{
    // font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 62px;
color: #FFFFFF;
}
.hero-content p{
    font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 23px;
color: #27AE60;

}
.hero-btn{
    background: #27AE60;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    width: 143px;
    height: 42px;
}
.hero-btn1{
    margin-left: 5%;
    background: transparent;
    border: 1px solid White;
}
.outer-circle {
    background: rgba(30, 29, 29, 0.2);
    border: 1px solid #202020;
    padding: 25px;
    border-radius: 50%;
}
.inner-circle{
    border-radius: 50%;
}
.inner-circle img{
    border-radius: 50%;
    width: 100%;
}
.section-heading{
    h1{
        color: #27AE60;
        text-align: center;
        text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        font-size: 48px;
    }
}
.about-text p{
    font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 32px;
text-align: center;
}
.about-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    a{
        font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;
color: #27AE60;
text-decoration: none;
    }
}
.about-box p{
    font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 23px;
margin-top: 1rem;
color: #FFFFFF;
}
.outer-sm{
    padding: 25px;
    background: #212121;
    border-radius: 50%;
}
.about-content h3{
    font-size: 26px;
    font-weight: 400;
color: #27AE60;
}
.about-content p{
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    margin-top: 1rem;
    color: #FFFFFF;
}
.about-content ul{
    // padding: 0;
}

.about-content ul li{
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    margin-top: 1rem;
    color: #FFFFFF;
}


.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.box-border{
    border: 1px solid #27AE60;
    border-radius: 10px;
}

input.form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid #27AE60;
    border-radius: 0;
    color: white;

}
input.form-control:focus{
    border: none;
    border-bottom: 1px solid #27AE60;
    border-radius: 0;
    outline: none;
    box-shadow: none;
}
input.form-control::placeholder{
    color: #27AE60 !important;
}
textarea.form-control{
    background: transparent;
    border: none;
    border-bottom: 1px solid #27AE60;
    border-radius: 0;
    color: white;

}

textarea.form-control::placeholder{
    color: #27AE60 !important;
}

textarea.form-control:focus{
    border: none;
    border-bottom: 1px solid #27AE60;
    border-radius: 0;
    outline: none;
    box-shadow: none;
}
.errormsg{
    color: red;
    font-size: 12px;
    position: absolute;
}

.skill-box{
    background-color: #27AE60;
    border-radius: 10px;
}

.project-box{
    border: 1px solid #27AE60;
    border-radius: 10px;
}