<section class="main">
  <div class="container">
    <div class="row py-2">
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Krishan Kant</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">About me</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact me</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li> -->
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="row py-5">
      <div class="col-md-5">
        <div class="hero-content">
        <h1>Hi, I am <br>Krishan Kant Gautam</h1>
          <p>Frontend Developer</p>
          <div class="btn-area d-flex mt-5">
            <button class="btn hero-btn">Download CV</button>
            <button class="btn hero-btn hero-btn1">Learn More</button>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-6">
        <div class="outer-circle">
          <div class="inner-circle">
            <img src="assets/images/image.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="my-section py-5">
  <div class="container">
    <div class="row py-3">
      <div class="section-heading">
        <h1>About</h1>
      </div>
    </div>
      <div class="row py-5">
        <div class="col-md-2"></div>
        <div class="col-md-8">
        <div class="about-text">
          <p>Hello, I'm Krishan Kant Gautam, a frontend developer with a strong enthusiasm for creating engaging and intuitive digital experiences. With a solid foundation in web development and a keen eye for design, I strive to deliver exceptional user interfaces that seamlessly blend aesthetics and functionality.</p>
        </div>
      </div>
        <div class="col-md-2"></div>
      </div>
      <div class="row py-5">
        <!-- <div class="col-md-2"></div> -->
        <div class="col-md-12">
          <div class="about-content">
            <h3>Skills</h3>
            <ul *ngFor="let skill of skills">
              <li>{{skill}}</li>
            </ul>
          </div>
        </div>
        <!-- <div class="col-md-5">
          <div class="img-container">
          <img src="assets/images/skills.gif" alt="skillsImg" width="100%">
          </div>
        </div> -->
        <!-- <div class="col-md-2"></div> -->
      </div>
      <div class="row py-5">
        <!-- <div class="col-md-1"></div>
        <div class="col-md-5">
          <div class="img-container">
          <img src="assets/images/experience1.gif" alt="experienceImg" width="100%">
          </div>
        </div> -->
        <div class="col-md-12">
          <div class="about-content">
            <h3>Experience</h3>
            <p>I have worked on several frontend development projects, collaborating with cross-functional teams to bring digital concepts to life. Here are some highlights of my experience:</p>
            <ul *ngFor="let experience of experiences">
              <li>{{experience}}</li>
            </ul>
          </div>
        </div>
        <!-- <div class="col-md-1"></div> -->
      </div>
      <div class="row py-5">
        <!-- <div class="col-md-1"></div> -->
        <div class="col-md-12">
          <div class="about-content">
            <h3>Passion and Approach</h3>
            <p>What truly drives me as a frontend developer is the ability to blend creativity with problem-solving. I am passionate about crafting seamless digital experiences that not only captivate users but also empower them to achieve their goals effortlessly. I take a user-centric approach, striving to understand their needs and preferences, and translating them into intuitive interfaces.</p>
          </div>
        </div>
        <!-- <div class="col-md-5"></div>
        <div class="col-md-1"></div> -->
      </div>
      <div class="row py-5">
        <ng-container *ngFor="let aboutLink of aboutLinks">
          <div class="col-md-3">
            <div class="about-box">
            <div class="outer-sm">
              <!-- <i [ngClass]="aboutLink.iconClass"></i> -->
              <img [src]="getSVGImageUrl(aboutLink.iconClass)" alt="" height="40px" width="40px">
              <!-- {{aboutLink.iconClass}} -->
            </div>
            <p>{{aboutLink.title}}</p>
            <a href={{aboutLink.link}} target="_blank">{{aboutLink.linkTitle}}</a>
          </div>
          </div>
        </ng-container>
      </div>
  </div>
</section>
<section class="my-section py-5">
  <div class="container">
    <div class="row">
      <div class="section-heading">
        <h1>My Skills</h1>
      </div>
    </div>
    </div>
</section>
<section class="my-section py-5">
  <div class="container">
    <div class="row">
      <div class="section-heading">
        <h1>My Project</h1>
      </div>
    </div>
    </div>
</section>
<section class="my-section py-5">
  <div class="container">
    <div class="row">
      <div class="section-heading">
        <h1>Get in touch</h1>
      </div>
    </div>
    <div class="row">
      <form class="row g-3">
        <div class="col-md-2"></div>
        <div class="col-md-4">
          <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-4">
          <input type="password" class="form-control" id="inputPassword4">
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
          <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-4">
          <input type="password" class="form-control" id="inputPassword4">
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-8">
          <textarea type="text" class="form-control" id="inputAddress" placeholder="1234 Main St"></textarea>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-8">
          <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
        <div class="col-md-2"></div>
      </form>
    </div>
    </div>
</section>